* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
     color: #1c1e21;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conts {
    display: flex;
     gap: 40px;
    flex: 1;
    width: 100%;
    justify-content: flex-end;
    align-items: stretch;
}
.logotip {
    position: absolute;
    top: 12px;
    left: 20px;
    margin-top: 20px; 
}
.leftside {
    flex: 1;
    padding-top: 20px;
    text-align: center;
     margin-top: 60px;
}
.leftside h1{
     text-align: center;    
     font-size: 40px;
     margin-bottom: -70px;
    
}
.leftside img {
    flex: 1;
    padding-top: 60px;
}
.rightside {
    font-family: sans-serif;
    border-left: 2px solid lightgray;
    padding: 70px 50px ;
    background: white;
    display: flex;
    margin-bottom: -150px;  
     flex-direction: column;
    justify-content: center;
}
.rightside input{
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-bottom: 12px;
}
.rightside button{
    width: 100%;
    height: 40px;
    border: 1px solid lightgray;
    margin-bottom: 12px;
    border-radius: 25px;
}
.logins {
    margin-bottom: 50px;
}
.logins a {
     color: #1c1e21;
    text-decoration: none;
    margin-top: 6px;
    display: block;
    text-align: center;
}
.logins p {
    margin-bottom: 10px;
    font-weight: bold;
}
.logins a:hover {
    text-decoration: underline;
}
.login {
    background-color: rgb(0, 136, 244)  ;
    color: white;
    text-align: center;
    cursor: pointer;
}
.faceb {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
     border-radius: 25px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
}
.faceb a {
    display: flex;
    align-items: center;
    color: #1c1e21;
    font-size: 14px;
    gap: 8px;
    text-decoration: none;
}
.others button {
    border-color: rgb(0, 136, 244);
}
.newac {
    background-color: white;
    border-color: rgb(0, 136, 244);
    color: rgb(0, 136, 244);
    cursor: pointer;
}
.meta {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #1c1e21;
    font-size: 14px;
    border-radius: 25px;
    margin-bottom: 10px;
}
.gradient{
    background: linear-gradient(to right, orange, red, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline;
}
.footer {
    border-top: 1px solid lightgray;
    padding: 20px;
    color: gray;
    text-decoration: None;
    font-size: 12px;
    text-align: center;
}
.footer a{
    color: gray;
    text-decoration: None;
    margin: 8px;
    font-size: 12px;
}
.footerl{
    margin: 10px;
}